In [ ]:
import plotly.express as px

### Pull Data From Azure SQL - Basic

### Prep Data as CSV

In [1]:
import pandas as pd
import plotly.express as px

In [11]:
df = pd.read_csv('data/Cars93.csv')
df.head(2)
df['chart_color'] = ''

In [16]:
df.head(2)

,Unnamed: 0,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make,chart_color
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra,#ffffff
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend,#ffffff

In [17]:
fig = px.scatter(
    df, 
    x='Weight', 
    y='MPG.city', 
    title='MPG (city) vs Weight', 
    color='chart_color'
)
# fig.show()

In [18]:
import pymssql

In [21]:
conn = pymssql.connect(server,username, password, database)

In [22]:
# cursor = conn.cursor()
query = f"SELECT * FROM {table}"
df = pd.read_sql(query, conn)

In [24]:
df.dtypes

column1                 int64
Manufacturer           object
Model                  object
Type                   object
Min_Price             float64
Price                 float64
Max_Price             float64
MPG_city                int64
MPG_highway             int64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower              int64
RPM                     int64
Rev_per_mile            int64
Man_trans_avail        object
Fuel_tank_capacity    float64
Passengers              int64
Length                 object
Wheelbase              object
Width                  object
Turn_circle            object
Rear_seat_room         object
Luggage_room           object
Weight                 object
Origin                 object
Make                   object
dtype: object

In [8]:
conn = pymssql.connect(server,username, password, database)